[Unit]
Description=Spark Master Service
After=network.target
After=systemd-user-sessions.service
After=network-online.target

[Service]
User=root
Type=forking
ExecStart=/usr/local/spark-2.3.0-bin-hadoop2.7/sbin/start-master.sh 
ExecStop=/usr/local/spark-2.3.0-bin-hadoop2.7/sbin/stop-master.sh
Restart=on-abort

[Install]
WantedBy=multi-user.target
